:root {
  --box-size: 3rem;
  --border: medium solid black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, var(--box-size));
}
.board__item {
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}
.board__item--clicked {
  cursor: default;
}

.board__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

[data-pos='0'],
[data-pos='1'],
[data-pos='2'],
[data-pos='3'],
[data-pos='4'],
[data-pos='5'] {
  border-bottom: var(--border);
}
[data-pos='0'],
[data-pos='1'],
[data-pos='3'],
[data-pos='4'],
[data-pos='6'],
[data-pos='7'] {
  border-right: var(--border);
}
